---
layout: default-en
---
<section class="blurb">
  <p class="summary"> I'm a Junior Web Developer with a background in Maths and Physics and a keen interest in improving user experience for everyone, including those with accessibility needs. I'm excited about how technology can change the way we live and work, for the better.</p>
  <!-- <p class="summary"> Photography, going to meetups, getting involved with diversity in tech initiatives.</p>
  <p>You can often find me on <a href="{{https://www.twitter.com/Sareh88}}">Twitter</a>.</p> -->
</section>
<section class="skills">
  <h2 class="section-title">Skills</h2>
  <p class="summary">Here's some of the tech I use for my projects. To see how and why I've used them, have a look at my <a href="/en/projects">projects page</a>.</p>
  <div class="img-full-width"><img src="/images/sarehsskills.png" alt="Logos of HTML5 JavaScript Sass CSS3 Bower Grunt Gulp Github Trello Bootstrap Foundation AngularJS NodeJS MongoDB Express Heroku Amazon Web Services Ruby Sinatra Rails PostgreSQL"></div>
</section>

<section class="interests">
  <h2 class="section-title">Recent Interests</h2>
  <p class="summary">Here are some of the meetups, events and conferences I've attended over the past few months.</p>
  <ul class="interests-list">
  {% for interest in site.data.recent-interests-en %}
      <li class="interest-item">
        <p class="interest-img-box vert-align-helper"><img src="{{ interest.image }}" alt="{{ interest.alt }}" class="interest-img"></p>
        <p class="interest-name">{{ interest.name }}</p>
        <p>{{ interest.content }}</p>
      </li>
  {% endfor %}
  </ul>
</section>

<section class="interests">
  <h2 class="section-title">Upcoming</h2>
  <p class="summary">Here's a mix of projects, conferences and tech community groups that I'll be keeping busy with over the next few months, in my spare time. </p>
  <ul class="interests-list">
  {% for interest in site.data.upcoming-projects-en %}
      <li class="interest-item">
        <p class="interest-img-box vert-align-helper"><img src="{{ interest.image }}" alt="{{ interest.alt }}" class="interest-img"></p>
        <p class="interest-name">{{ interest.name }}</p>
        <p>{{ interest.content }}</p>
      </li>
  {% endfor %}
  </ul>
</section>


<!-- <h2>English Home Page</h2> -->
<!-- <div class="home">
  <h1 class="page-heading">Posts</h1>
  <ul class="post-list">
    {% for post in site.posts %}
      {% if post.language == 'en' %}
        <li>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
          <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
</div>

<p>Here are my latest projects.</p>
<ul>
  {% for project in site.projects %}
  <li>
  <p>{{ project.title }}</p>
  </li>
  {% endfor %}
</ul> -->