@mixin menu-links($font-size, $letter-spacing, $color, $page-color, $border-thickness) {
  a{
    text-transform: uppercase;
    font-size: $font-size;
    letter-spacing: $letter-spacing;
    font-weight: bold;
    margin: 0.2em 0.1em;
    padding: 0.2em 0.4em;
    text-decoration: none;
    line-height: 3;
    &,
    &:visited {
      color: $color;
      border: $border-thickness solid $color;
    }
    &:hover,
    &:focus,
    &:active {
      color: $page-color;
      background-color: lighten($color, 20%);
      border: $border-thickness solid lighten($color, 20%);
    }
    // @if($has-underlines) {
    //   &:hover,
    //   &:focus,
    //   &:active {
    //     text-decoration: underline;  
    //   }
    // }
  }
}