---
layout: default-en
---
<!-- <section>
  <h2>Projects</h2>
  <div class="projects-box">
    <div class="project">
      <h3>Portal</h3>
      <p class="project-tagline"></p>
      <p class="project-description"></p>
      <a href="">Read my blog post</a>
      <a href="">See code on Github</a>
    </div>
  </div>
</section> -->
<!-- <div class="home">
  <h1 class="section-heading page-heading">Posts</h1>
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
</div> -->
<section class="about">
  <h2 class="section-title">About Me</h2>
  <p class=""></p>
</section>

<section class="projects">
  <h2 class="section-title">Projects</h2>
  {% for project in site.data.projects %}
    <article class="indexed-project">
      <header class="indexed-project-header">
        <a href="{{ project.link_en | prepend: site.baseurl }}"><h3 class="indexed-project-title">{{ project.title }}</h3></a>
      </header>
      <p class="indexed-project-tagline">
        {{ project.tagline }}
      </p>
      <img class="indexed-project-image" src="{{ project.image }}" alt="screenshot of {{ project.title }} project">
      <p class="indexed-project-tagline">{{ project.tagline }}</p>
      {% if project.blog_url %}<a class="button" href="{{ project.blog_url | prepend: site.baseurl }}">Read my blog post</a>{% endif %}
      {% if project.url %}<a class="button project-url" href="{{ project.url | prepend: site.baseurl }}">{{ project.url_text }}</a>{% endif %}
      {% if project.github_url %}<a class="button" href="{{ project.github_url }}">View the code on Github</a>{% endif %}
    </article>
  {% endfor %}
</section>

<section class="posts">
  <h2 class="section-title">Blog</h2>
  <h3>Latest Posts</h3>
</section>

<section class="contact">
  <h2 class="section-title">Contact</h2>
  {% include social-media-links.html %}
</section>