<footer class="site-footer">
  <ul class="menu-list">
    {% for item in site.data.en.menu_items %}
    <li class="menu-item"><a href="{{item.link}}">{{item.text}}</a></li>
    {% endfor %}
  </ul>
  <!-- {% include social-media-links.html %} -->
  <ul class="social-media-icons">
    {% for social in site.data.social-links %}
      <li>
        <a href="{{ social.url }}">
          <span class="fa-stack fa-2x fa-fw">
            <i class="fa fa-circle fa-stack-2x fa-fw"></i>
            <i class="fa {{ social.icon}} fa-stack-1x fa-inverse fa-fw"></i>
          </span>
        </a>
      </li>
    {% endfor %}
  </ul>
  <p id="footer-copyright">&copy; {{ site.time | date: '%Y' }} {{ site.data.en.site_author}}</p>
</footer>