<header id="site-header">
  <nav class="menu">
    <ul class="menu-list">
      {% for item in site.data.fa.menu_items %}
      <li class="menu-item"><a href="{{item.link}}">{{item.text}}</a></li>
      {% endfor %}
      <li class="menu-hamburger">
        <button class="menu-toggle-button">
          <div id="menu-button">
            <img src="/images/ic_menu_white_24dp_1x.png">
          </div>{{site.data.fa.menu}}</button>
      </li>
    </ul>
  </nav>
  <div class="title-background">
    <div class="site-logo"><a href="/fa"><img src="/images/sareh-3-blue900-web-optimised-100px.svg"></a></div>
    <!-- {{ site.logo | prepend: site.baseurl }} -->
    <div class="site-title"><a href="/fa">{{ site.data.fa.site_title }}</a></div>
    <div class="site-tagline"><a href="/fa">{{ site.data.fa.site_subtitle }}</a></div>
  </div>
</header>