<!-- {% capture datalang %}site.data.{{include.lang}}{% endcapture %} -->
<!-- {% capture datalangmenuitems %}site.data.{{include.lang}}.menu_items{% endcapture %} -->
<!-- {% capture lang %}{{include.lang}}{% endcapture %} -->
<!-- Note we have a filter for the variable lang=site.current_language -->
{% if include.lang == 'en' %}
  <header id="site-header">
    <nav class="menu">
      <ul class="menu-list">
        <li class="menu-item"><a href="/{{ include.lang }}/home">{{ include.datalang }}</a></li>
        <li class="menu-item"><a href="/{{ include.lang }}/about">About Me</a></li>
        <li class="menu-item"><a href="/{{ include.lang }}/projects">Projects</a></li>
        <li class="menu-item"><a href="/{{ include.lang }}/posts">Blog</a></li>
        <li class="menu-item"><a href="/{{ include.lang }}/contact">Contact</a></li>
        <li class="menu-item"><a href="/fa/">فارسی</a></li>
        <li class="menu-hamburger">
          <button class="menu-toggle-button">
            <div id="menu-button">
              <img src="/images/ic_menu_white_24dp_1x.png">
            </div>Menu</button>
        </li>
      </ul>
    </nav>
    <div class="title-background">
      <div class="site-logo"><a href="/"><img src="{{ site.logo }}"></a></div>
      <div class="site-title"><a href="/">{{ site.data.en.site_title }}</a></div>
      <div class="site-tagline"><a href="/">{{ site.data.en.site_subtitle }}</a></div>
    </div>
  </header>
{% endif %}
{% if include.lang == 'fa' %}
  <header id="site-header">
    <nav class="menu">
      <ul class="menu-list">
        <li class="menu-item"><a href="/{{ include.lang }}/about">What.About Me</a></li>
        <li class="menu-item"><a href="/{{ include.lang }}/projects">Projects</a></li>
        <li class="menu-item"><a href="/{{ include.lang }}/posts">Blog</a></li>
        <li class="menu-item"><a href="/{{ include.lang }}/contact">Contact</a></li>
        <li class="menu-item"><a href="/fa/">فارسی</a></li>
        <li class="menu-hamburger">
          <button class="menu-toggle-button">
            <div id="menu-button">
              <img src="/images/ic_menu_white_24dp_1x.png">
            </div>Menu</button>
        </li>
      </ul>
    </nav>
    <div class="title-background">
      <div class="site-logo"><a href="/"><img src="{{ site.logo }}"></a></div>
      <div class="site-title"><a href="/">{{ site.data.en.site_title }}</a></div>
      <div class="site-tagline"><a href="/">{{ site.data.en.site_subtitle }}</a></div>
    </div>
  </header>
{% endif %}
