<ul class="share-buttons">
    <li>
      <button>
        <span class="fa-stack fa-2x fa-fw">
          <i class="fa fa-circle fa-stack-2x fa-fw"></i>
          <i class="fa fa-twitter fa-stack-1x fa-inverse fa-fw"></i>
        </span>
        Share on Twitter
      </button>
    </li>
    <li>
      <button>
        <span class="fa-stack fa-2x fa-fw">
          <i class="fa fa-circle fa-stack-2x fa-fw"></i>
          <i class="fa fa-linkedin fa-stack-1x fa-inverse fa-fw"></i>
        </span>
        Share on Linkedin
      </button>
    </li>
    <li>
      <button>
        <span class="fa-stack fa-2x fa-fw">
          <i class="fa fa-circle fa-stack-2x fa-fw"></i>
          <i class="fa fa-facebook fa-stack-1x fa-inverse fa-fw"></i>
        </span>
        Share on FaceBook
      </button>
    </li>
    <li>
      <button>
        <span class="fa-stack fa-2x fa-fw">
          <i class="fa fa-circle fa-stack-2x fa-fw"></i>
          <i class="fa fa-clipboard fa-stack-1x fa-inverse fa-fw"></i>
        </span>
        Copy to Clipboard
      </button>
    </li>
</ul>