<!DOCTYPE html>
<html lang={{ site.current_language }}>
  {% include head.html %}
  <body>
<!--     {% capture datalang %}site.data.{{site.current_language}}{% endcapture %}
    {% include header.html lang=site.current_language datalang=site.data.datalang %} -->
    
    {% include header-fa.html %}


    
    {% if site.current_language == 'en' %}
      <!-- {% include header-en.html %} -->
    {% endif %}
    {% if site.current_language == 'fa' %}
      {% include header-fa.html %}
    {% endif %}

    {% include social-media-links.html %}
    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
